{% extends 'dlivelay/base/base.html' %}
{% block head %}
<script language="JavaScript">
function chat(permlink) {
    window.open("chat/{{author}}/"+permlink, "", "width=984, height=300");
}


</script>
{% endblock %}
{% block content %}
       <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <div class="image">
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="https://steemitimages.com/u/{{author}}/avatar" alt="..."/>
                                  <h4 class="title">{{profile_name}}<br />
                                     <a href="#"><small>@{{author}}</small></a>
                                  </h4>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>{{fcount}}<br /><small>Follower</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>{{profile_steem}}<br /><small>STEEM</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>{{profile_sbd}}<br /><small>SBD</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Son Yayınlar Chat:</h4>
                            </div>
                            <div class="content">
                                <ul class="list-unstyled team-members">
                                            {% for dict in posts %}
                                            {% for key_i, val_i in dict.items %}


                                            <li>
                                                <div class="row">
                                                    <div class="col-xs-9">
                                                        {{ key_i }}
                                                        <br />
                                                        <span class="text-success"><small>Chat</small></span>
                                                    </div>
                                                    <div class="col-xs-3 text-right">
                                                        <btn onclick="chat('{{val_i}}')" class="btn btn-sm btn-success btn-icon"><i class="fa fa-envelope"></i></btn>
                                                    </div>
                                                </div>
                                            </li>

                                            {% endfor %}
                                            {% endfor %}
                                        </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Son Haraketler</h4>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>
</div>
{% endblock %}